
<body>
<div id="container">

    <div class="boutton_box"><a routerLink="/"><input id="boutton" type="button" value="Acceuil"></a></div>
    <div class="boutton_box"><a routerLink="/form-search"><input id="boutton" type="button" value="Recherche"></a></div>
    <div class="boutton_box"><a routerLink="/listeuser"><input id="boutton" type="button" value="Liste des utilisateurs"></a></div>
    <div class="boutton_box_3"><a routerLink="/recupdata"><input id="boutton" type="button" value="Liste des clés"></a></div>

</div>
<router-outlet></router-outlet>
</body>
