<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
    <br>
    <br>
  <br>
  <br>
  <div class="w3-bottom"  style="position:fixed;">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-padding-large" style = "margin-left:45%;" >Mention legale</a>
    </div>
  </div>
