
<body>
 <br>
 <div id="box_home">
  <h1>Liste des clés</h1>
</div>
 <table>
 <tr>
 <td>Numero de clé</td>
 <td>Montant Initial</td>
 <td>Etat</td>
 </tr>
 <tr *ngFor="let cles of valueRetour">
 <td >{{ cles.numCle }}</td>
 <td>{{ cles.montantInitial }} €</td>
 <div *ngIf="cles.etat =='Active';then contenu"></div>
<ng-template #contenu>{{ cles.etat}}</ng-template>
<div *ngIf="cles.etat !='Active';then contenu" >{{ cles.etat}}</div>
<ng-template #contenu>{{ cles.etat}}</ng-template>

 <td>
   <a routerLink='/detailcle/{{ cles.id }}' > <input id="boutton" type="button" value="Plus de détails"></a>
  </td>
 </tr>
</table>
</body>
