{% include 'base.html.twig' %}

<link rel="stylesheet" href="{{ asset('css/style_user.css') }}" type="text/css"/>
<div class="container">
    <h1>Bienvenue Administrateur<h1>
<img class="w3-bar-item" src="{{ asset('image/COFFEEKEY2.jpg') }}"   height="290" >
</div>
{% include 'footer.html.twig' %}
